.app-wrapper {
  text-align: center;
  background-color: lightblue;
  background-image: url(https://www.snopes.com/tachyon/2016/07/math.jpg?resize=865,452);
}

.app {
  display: inline-block;
}

.app-header {
  padding-bottom: 3%;
  transform: scaleY(10%);
  font-size: 80px;
  font-weight: bolder;
  color: rgb(255, 140, 0);
  text-shadow: 2px 2px 4px rgb(0, 43, 0);
  
}

.flash-card {
  display: grid;
  grid-template-areas: 
  'left right';
  grid-column-gap: 20px;
  padding: 10px;
}

.flash-card-header {
  text-align: left;
  padding-left: 1%;
  font-weight: bold;
}

.button-wrapper {
  padding-bottom: 3%;
}